<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.green2209S_09.dao.OrderDAO">
	<select id="get_mooneyes_order_list" resultType="com.spring.green2209S_09.vo.OrderVO">
		<if test="payment == ''">SELECT * FROM mooneyes_order WHERE member_idx = #{member_idx} ORDER BY order_idx DESC LIMIT #{startIndexNo},#{pageSize};</if>
		<if test="payment != ''">SELECT * FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = #{payment} ORDER BY order_idx DESC LIMIT #{startIndexNo},#{pageSize};</if>
	</select>
	<select id="get_mooneyes_order_image_list" resultType="com.spring.green2209S_09.vo.OrderVO">
		SELECT * FROM mooneyes_order AS orders JOIN mooneyes_product AS product ON product.product_idx = #{product_idx} WHERE orders.member_idx = #{member_idx} AND orders.order_idx = #{order_idx} GROUP BY product.product_idx ORDER BY orders.order_idx DESC; 
	</select>
	<select id="get_mooneyes_order_count_N" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'N'; 
	</select>
	<select id="get_mooneyes_order_count_Y" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'Y'; 
	</select>
	<select id="get_mooneyes_order_count_D" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'D'; 
	</select>
	<select id="get_mooneyes_order_count_O" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'O'; 
	</select>
	<select id="get_mooneyes_order_count_C" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'C'; 
	</select>
	<select id="get_mooneyes_order_count_E" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'E'; 
	</select>
	<select id="get_mooneyes_order_count_R" resultType="int">
		SELECT count(*) FROM mooneyes_order WHERE member_idx = #{member_idx} AND payment = 'R'; 
	</select>
	<select id="get_mooneyes_order" resultType="com.spring.green2209S_09.vo.OrderVO">
		SELECT * FROM mooneyes_order WHERE order_idx = #{order_idx}; 
	</select>
	
	<insert id="set_cash_order">
		INSERT INTO mooneyes_order VALUES (DEFAULT,#{vo.member_idx},#{inputVO.product_idx},#{inputVO.order_price},#{inputVO.order_tot_price},#{inputVO.buyer_name},#{vo.order_address},#{vo.order_phone},#{vo.order_email},#{inputVO.delivery_msg},#{inputVO.order_count},#{inputVO.order_option},#{inputVO.order_point},#{inputVO.order_tot_point},DEFAULT,#{inputVO.addr_paymethod},#{inputVO.paymethod_bank_name},#{inputVO.paymethod_bank_buyer_name},#{inputVO.cashreceipt},#{inputVO.cashreceipt1},#{vo.cashreceipt_personal_number},#{inputVO.cashreceipt_employed_number},DEFAULT,#{inputVO.delivery_price});
	</insert>
	<insert id="set_card_order">
		INSERT INTO mooneyes_order(order_idx, member_idx, product_idx, order_price, order_tot_price, order_name, order_address, order_phone, order_email, delivery_msg, order_count, order_option, order_point, order_tot_point, order_tot_point_sw, addr_paymethod, payment, delivery_price) VALUES (DEFAULT, #{vo.member_idx}, #{inputVO.product_idx}, #{inputVO.order_price}, #{inputVO.order_tot_price}, #{inputVO.buyer_name}, #{vo.order_address}, #{vo.order_phone},#{vo.order_email},#{inputVO.delivery_msg},#{inputVO.order_count},#{inputVO.order_option},#{inputVO.order_point},#{inputVO.order_tot_point},DEFAULT,#{inputVO.addr_paymethod},'Y',#{inputVO.delivery_price});
	</insert>
	<insert id="set_question">
		INSERT INTO mooneyes_question VALUES (DEFAULT,#{member_vo.member_idx},#{member_vo.member_name},#{inputVO.question_pwd},#{title},#{inputVO.question});
	</insert>
	
</mapper>